h1{
    display:flex;
    justify-content:center;
    color:#ff0000;
}
h2{
    color:#2d0080;
    display:flex;
    justify-content:center;
}
h3{
    color:#2d0080;
    display:flex;
    justify-content:center;
}
i{
    color:#ff0000;
}
*{
    background-color:	#ADD8E6;
    border:solid;
}
ul{
    color:blue;
}
.header{
    background-color:	#ADD8E6;
    display:flex;
    justify-content:flex-end;
}
.item1{
    background-color:	#ADD8E6;
    display:flex;
    justify-content:flex-end;
}
.footer{
    background-color:	#ADD8E6;
    display:flex;
    justify-content:flex-end;
}
a:link{
    color:white;
}
a:visited{
    color:white;
}
.header:hover{
    transform:scale(1.1)
}
.item1:hover{
    transform:scale(1.1)
}
.footer:hover{
    transform:scale(1.1)
}